:root {
	--main-background-color: rgba(248, 248, 248, 1);
	--main-header-font-color: black;
	--main-border-color: lightgrey;
	--layout-margin-top: 40px;
	--post-header-font-size: 40px;
	--heading-padding: 10px;
	--posts-header-width: 100px;
	--search-bar-height: 50px;
	--sidebar-width: 200px;
	--paginate-button-width: 100px;
	--post-content-padding-width: 40px;
	--search-margin-left: 10px;
	--search-form-width: 200px;
	--hamurger-width: 20px;
	--hamurger-margin: 3px;
	--hamburger-margin-top: 15px;
	--main-border: 1px solid var(--main-border-color);
}

html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: var(--main-background-color);
	font-family: 'Roboto', sans-serif;
}

#template {
	width: 100%;
	height: 100%;
	padding: 0px 0% 0px 0%;
}

#layout {
	margin-top: calc(var(--search-bar-height) + var(--layout-margin-top));
}

.sidebar {
	height: 100%;
	width: var(--sidebar-width);
	margin-top: calc(var(--layout-margin-top) * -1);
	background-color: #fff;
	border: var(--main-border);
	position: fixed!important;
	overflow: auto;
}
.bar-block .bar-item {
	width: auto;
	display: block;
	text-align: left;
	border: none;
	white-space: normal;
	float: none;
	outline: 0
}
.header {
	padding: 8px 16px;
}
.header.accordion {
	padding: 8px 22px;
}
.sub-header {
	display: none;
	padding: 4px 28px;
}

.bar-item.bar-link.header:hover {
	color: #0c5460;
	background-color: #d1ecf1B3;
	border-color: #bee5eb;

	cursor: pointer;
}

.bar-item.header.accordion:hover {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;

	cursor: crosshair;
}

.bar-item.sub-header:hover {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;

	cursor: pointer;
}

.bar-item.header {
	border-bottom: solid 1pt lightgrey;
}
.hide {
	display: none!important;
}
.show {
	display: block;
}
.accordion>span.down {
	display: inline-block;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	padding-left: 10px;
}
.accordion>span.up {
	display: inline-block;
	padding-left: 10px;
}
.activated-link {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

@media (min-width: 700px) {
	:root {
		--post-link-width: 450px;
		--post-content-width: 350px;
	}

	.sidebar {
		display: block;
	}

	.postLinkDiv {
		width: var(--post-link-width);
		margin-left: calc(var(--sidebar-width) + ((100% - (var(--sidebar-width) + var(--post-link-width)))/2))!important;
	}
	.postsHeader {
		text-align: left !important;
		margin-left: calc(var(--sidebar-width) + ((100% - (var(--sidebar-width) + var(--posts-header-width)))/2))!important;
	}
	.paginate {
		margin-left: calc(var(--sidebar-width) + ((100% - (var(--sidebar-width) + var(--paginate-button-width)))/2))!important;
	}
	.postContent {
		--post-content-total-width: calc( (var(--post-content-padding-width)*2) + 2px + var(--post-content-width));
		margin-left: calc(var(--sidebar-width) + ((100% - (var(--sidebar-width) + var(--post-content-total-width)))/2))!important;
	}
}

@media (min-width: 900px) {
	:root {
		--post-link-width: 650px;
		--post-content-width: 550px
	}
}

@media (min-width: 1200px) {
	:root {
		--post-content-width: 800px
	}
}

@media (max-width: 700px) {
	:root {
		--post-link-width: 450px;
		--post-content-width: 350px;
	}
	.sidebar {
		display: none;
	}

	.postLinkDiv {
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	}
	.paginate {
		margin: auto;
	}
}

.postsHeader {
	padding-top: var(--heading-padding);
	padding-bottom: var(--heading-padding);
	color: var(--main-header-font-color);
	text-align: center;
	letter-spacing: 1px;
	font-size: var(--post-header-font-size);
}

.postLinkDiv {
	background-color: white;
	padding: 20px 0px 00px 0px;
	border: solid 2px var(--main-border-color);
	margin-top: 20px;
	margin-bottom: 50px;
}

.paginate {
	width: var(--paginate-button-width);
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(192, 192, 192, 0);
	background-color: var(--main-background-color);
	color: var(--main-header-font-color);
	text-align: center;
	letter-spacing: 1px;
	font-size: 14px;
	transition: border 1s ease;
	margin: auto;
}

.postContent {
	width: var(--post-content-width);
	margin-left: auto;
	margin-right: auto;
	border: var(--main-border);
	padding: var(--post-content-padding-width);
	background-color: #fff;
	color: black;
	text-align: left;
	font-size: 16px;
}

.postsHeader:hover {
	cursor: help;
}

.paginate:hover {
	cursor: pointer;
	border-bottom: 2px solid rgba(192, 192, 192, 1);
}

.postLink {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-radius: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	transition: 0.5s ease-in-out;
}

.postLink:hover {
	color: black;
	cursor: pointer;
	background-color: lightgray;
	transition: all 1s ease-out;
}

.paginate:hover {
	cursor: pointer;
}

.timestamp {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	color: rgb(144, 143, 143);
	font-size: 12px;
}

.tags {
	--color: blue;
	--paddingHeight: 15px;
	--paddingWidth: 20px;
	--contentWidth: 100%;
	display: block;
	margin-top: 20px;
	width: calc(var(--contentWidth) - calc(var(--paddingWidth)*2));
	padding: var(--paddingHeight) var(--paddingWidth);
	color: var(--color);
	font-size: 16px;
	background-color: lightgrey;
}

.tags>em {
	padding: 0px 4px;
	border-radius: 4px;
}

.tags>em:hover {
	cursor: pointer;
	background-color: white;
	transition: all 1s ease-out;
}

pre {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f6f8fa;
	border-radius: 10px;
}

#search {
	position: absolute;
	top: 0;
	width: 100%;
	height: var(--search-bar-height);
	background-color: rgba(228, 228, 228, 0.5);
	border-bottom: var(--main-border);
}

#search>form {
	display: inline-block;
	width: var(--search-form-width);
}

#searchInput {
	position: absolute;
	top: 0;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 13px;
	color: rgb(92, 92, 92);
	outline: none;
}

#header {
	position: absolute;
	top: 0;
	text-align: right;
	--width-used: calc(var(--search-form-width) +  var(--search-margin-left) + var(--hamurger-width) + (var(--hamurger-margin)*2));
	margin-left: calc(100% - (var(--width-used)));
}

.container{
	display: inline-block;
}

.bar1{
	margin-top:var(--hamburger-margin-top)!important;
}

.bar1, .bar2, .bar3 {
	width: var(--hamurger-width);
	height: 5px;
	background-color: #333;
	margin: 3px var(--hamurger-margin);
	transition: 0.4s;
  }

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}
/*transparency: CC-80% B3-70% 99-60% */
.alert-info {
	color: #0c5460;
	background-color: #d1ecf1B3;
	border-color: #bee5eb;
}

.alert-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert {
	bottom: 0px;
	position: absolute;

	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}

button.close {
	padding: 0;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.bs-example {
	margin: 10px;
}

.message-box {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 200px;
	width: 170px;
}