html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: white;
	height: 100%;
	overflow: auto;
}

#pageWrapper {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	padding: 0px 0% 0px 0%;
}

#pageWrapper2 {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	padding: 0px 0% 0px 0%;
	background-color: white;
}

#postTemplate {
	height: 100%;
	background-color: white;
}

@media (min-width: 700px) {
	.postContentDiv {
		width: 50%;
		margin: 0 auto;
		margin-left: 25%;
	}
	.sidebar {
		height: 100%;
		width: 200px;
		background-color: #fff;
		position: fixed!important;
		z-index: 1;
		overflow: auto
	}
	.bar-block .bar-item {
		width: auto;
		display: block;
		padding: 8px 25px;
		text-align: left;
		border: none;
		white-space: normal;
		float: none;
		outline: 0
	}
	.header {
		  margin: 0;
		width: auto;
		display: block;
		padding: 8px 16px;
		text-align: left;
		border: none;
		white-space: normal;
		float: none;
		outline: 0
	}

	.button:hover{color:#000!important;background-color:#ccc!important}
	}

@media (max-width: 700px) {
	.postContentDiv {
		width: 100%;
	}
	.sidebar {
		display: none;
	}
	.bar-block .bar-item {
		display: none;
	}
}

#allPostsLink {
	display: inline-block;
	box-sizing: border-box;
	background-color: black;
	border-radius: 50px 0px 50px 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	text-align: center;
	font-family: "Avenir-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 1px;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 40px;
}

#allPostsLink:hover {
	background-color: white;
	color: black;
	transition: all 1.5s ease-out;
}

#canvas {
	z-index: 1;
	position: absolute;
	background-color: black;

}

.postLinkDiv {
	background-color: white;
	margin: 100px auto 100px auto;
	padding: 50px 0px 50px 0px;
	border-radius: 10px 10px 10px 10px;
	max-width: 650px;
}

.postLink {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-radius: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: black;
	color: lightgray;
	text-align: center;
	font-size: 20px;
	font-family: "Avenir-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: 1.3s ease-in-out;
}

.postLink:hover {
	color: black;
	background-color: lightgray;
	transition: all 1s ease-out;
}

.timestamp {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	color: rgb(144, 143, 143);
	font-size: 12px;
	font-family: "Avenir-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tags {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	color: blue;
	font-size: 16px;
	font-weight: 800;
	font-family: "Avenir-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.postContentDiv {
	background-color: white;
	padding: 50px 0px 50px 0px;
}

.postContent {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: black;
	color: lightgray;
	text-align: left;
	font-size: 16px;
	font-family: "Avenir-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
}