<div class="about-container ">

    <h1>Hello, I'm David Beales</h1>

    <p> I'm a full stack software developer at the UKHO. I mostly write code in C#, HTML, JavaScript, Python, TypeScript, and PowerShell.
         I'm pretty sure this makes me a jack of all trades.</p>

    <p>This blog is mostly me writing software engineering notes for myself, when I get round to it! I'm trying to
        improve my posts as I write more (virtuous circle), i.e. make them user friendly, assume less background knowledge and more graphics!
    </p>

</div>