<div class="about-container ">

    <h1>Hello, I'm David Beales</h1>

    <p> I'm a full stack software developer at the UKHO. I mostly write code in C#, JavaScript, TypeScript, Python, HTML, and PowerShell.
        I also like CI/CD (Azure DevOps and Terraform) because it makes everyone's lives so much easier, letting them focus on functionality, 
        without the friction of setting up environments and infrastructure, etc.</p>

    <p>This blog is mostly me writing software engineering notes for myself, when I get round to it! I'm trying to
        improve my posts as I write more (virtuous circle), i.e. making them user friendly, assuming less background knowledge and adding more graphics!
    </p>
    <p>If you have any questions on my blogs, please email me. Also feel free to email if you want to talk about software related topics.
    </p>
</div>