<h1>Generating Static Pages in Angular with Scully</h1>

<h2>Overview</h2>
<p>
    Static websites are great, here are some of the reason why:
    <ul>
        <li>simple to setup</li>
        <li>easy to host</li>
        <li>fast load times</li>
        <li>more secure</li>
    </ul>

    For a simple site, like my blog, static sites are ideal. However, I've written my blog in Angular, which is dynamic. Welcome <b>scullyio</b>. Scully will take yor Angular website, find all your routes, and generates a static website.
</p>

<h4>Sections</h4>
<ol>
    <li>Pre requisites</li>
    <li>Installing Scully</li>
    <li>Updating Scully Routes</li>
    <li>Conclusion</li>
</ol>

<hr>