:host {
    --menu-bar-item-margin: 20px;
    --menu-bar-search-item-margin: 20px;
    --search-width: 200px;
    --home-icon-font-size: 28px;
    --menu-bar-item-display: inline;
}

@media screen and (max-width: 800px) and (min-width: 600px) {
     :host {
        --menu-bar-search-item-margin: 10px;
        --search-width: 150px;
        --menu-bar-item-display: inline;
    }
}

@media screen and (max-width: 600px) {
    :host {
        --menu-bar-item-margin: 10px;
       --menu-bar-search-item-margin: 5px;
       --search-width: 100px;
       --home-icon-font-size: 28px;
       --menu-bar-item-display: none;
   }
}

.menu-bar-container {
    position: relative;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgba(238,238,238,1);
    color: black;
    border-bottom: 1px solid lightgray;
    display: grid;
    grid-template-columns: repeat(3, min-content) 1fr;
    column-gap: var(--menu-bar-item-margin);
    justify-content: left;
}

.menu-bar-search-container {
    position: relative;
    align-items: center;
    height: 35px;
    width: 100%;
    background-color: rgba(238,238,238,1);
    color: black;
    border-bottom: 1px solid lightgray;
    display: grid;
    grid-template-columns: repeat(1, min-content) auto auto auto;
    column-gap: var(--menu-bar-search-item-margin);
    justify-content: center;
}

#searchInput {
    max-width: var(--search-width);
    padding: none;
    margin: none;
}

.sort-name,
.sort-tag,
.sort-timestamp {
    font-size: 16px;
}

.sort-name>div,
.sort-tag>div,
.sort-timestamp>div,
.menu-link>span {
    border-radius: 5px;
    transition: 200ms ease-in-out;
}

.sort-name>div:hover,
.sort-tag>div:hover,
.sort-timestamp>div:hover,
.menu-link>span:hover {
    cursor: pointer;
    color: var(--active-link-green);
}

[class*='sort-'].active,
.menu-link>span.active-link  {
    color: var(--active-link-green);
}

.menu-link {
    font-size: var(--home-icon-font-size);
    transition: 200ms ease-in-out;
}

.menu-link>span:focus,
.menu-link>span:active {
    outline: 0;
    border: none;
}

.menu-link.right{
    text-align: right;
}

.menu-link.right span,
.menu-link.right div{
    margin-right: var(--menu-bar-item-margin);
}

.menu-author{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    vertical-align: middle;
    text-align: center;
}

.menu-author div{
    font-family: 'ps-regular';
    text-transform: uppercase;
    font-size: 14px;
}

.hamburger {
    display: inline-block;
}

.hamburger:hover {
    cursor: pointer;
}

.bar1 {
    margin-top: 5px!important;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 5px;
    background-color: #333;
    margin: 3px 5px;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.sidebar {
    top: var(--menu-bar-total-height);
    background-color: rgba(238,238,238,1);
    color: black;
    border-right: 1px solid lightgray;
    font-size: 16px;
    width: 250px;
    position: fixed;
    overflow-y: auto;
    bottom: 0;
}

.sidebar-sub-headers-hidden {
    display: none;
}

.sidebar-header, .sidebar-header-tag, .sidebar-sub-headers{
    border-bottom: 1px solid lightgray;
}

.sidebar-header {
    padding: 8px 8px;
}

.sidebar-header-tag {
    padding: 8px 16px;
}

.sidebar-sub-header {
    padding: 8px 26px;
}

.sidebar-header-tag [class^="icon-"] {
    font-size: 10px;
}

[class*="sidebar-"]:hover {
    color:var(--active-link-green);
    cursor: pointer;
}

[class*="sidebar-"]:focus,
[class*="sidebar-"]:active{
    outline: 0;
    border: none;
}

.sidebar [class*="icon"] {
    font-size: 8px;
}

.sidebar .icon-minus {
    color: red;
}

.sidebar .icon-plus {
    color: var(--active-link-green);
}

.sidebar-sub-header.active-link,
.sidebar-header.active-link  {
    color:var(--active-link-green);
}