<div class="menu-bar-container">
    <div class="hamburger {{sidebarOpen === true ? 'change' : ''}}" (click)="toggleSidebar()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <div class="menu-link">
        <span class="icon-home" routerLink="/home" routerLinkActive="active-link"></span>
    </div>
    <div class="menu-link">
        <span class="icon-profile" routerLink="/about" routerLinkActive="active-link"></span>
    </div>

    <div class="menu-link right">
        <span class="icon-github" (click)="goToLink('https://github.com/bealesd')"></span>
        <span class="icon-linkedin" (click)="goToLink('https://www.linkedin.com/in/david-beales-16087989')"></span>

        <span class="icon-envelop" (click)="openModal()"></span>
        <app-modal *ngIf="isModalOpen" [title]="'Contact me'" [message]="'david_beales@ymail.com'" (close)="closeModal($event)"></app-modal>

        <div class="menu-author">
            <div>David Beales</div>
        </div>
    </div>

</div>

<div *ngIf="isHomePage" class="menu-bar-search-container">

    <div class="search">
        <input id="searchInput" type="text" placeholder="Search" maxlength="20" value='' #searchInput
            (keyup)="filterBlogsBySearch(searchInput.value)">
    </div>

    <div class="sort-name {{this.blogService.sort.current === 'name' ? 'active' : ''}}" (click)="toggleNameSort()">
        <div>
            Name
            <span *ngIf="blogService.sort.name && this.blogService.sort.current === 'name'"
                class="icon-sort-alpha-asc"></span>
            <span *ngIf="!blogService.sort.name && this.blogService.sort.current === 'name'"
                class="icon-sort-alpha-desc"></span>
        </div>
    </div>

    <div class="sort-tag {{this.blogService.sort.current === 'tag' ? 'active' : ''}}" (click)="toggleTagSort()">
        <div>
            Tag
            <span *ngIf="blogService.sort.tag && this.blogService.sort.current === 'tag'"
                class="icon-sort-alpha-asc"></span>
            <span *ngIf="!blogService.sort.tag && this.blogService.sort.current === 'tag'"
                class="icon-sort-alpha-desc"></span>
        </div>
    </div>

    <div class="sort-timestamp {{this.blogService.sort.current === 'timestamp' ? 'active' : ''}} "
        (click)="toggleTimestampSort()">
        <div>
            Date
            <span *ngIf="blogService.sort.timestamp && this.blogService.sort.current === 'timestamp'"
                class="icon-sort-alpha-asc"></span>
            <span *ngIf="!blogService.sort.timestamp && this.blogService.sort.current === 'timestamp'"
                class="icon-sort-alpha-desc"></span>
        </div>
    </div>

</div>

<div *ngIf="sidebarOpen" class="sidebar">
    <div class="sidebar-header" routerLink="/home" routerLinkActive="active-link">
        Home
    </div>

    <div class="sidebar-header" routerLink="/about" routerLinkActive="active-link">
        About
    </div>

    <div class="sidebar-header" (click)="toggleSideMenuHeading(blogsHeading)">
        <span #blogsHeading>Blogs </span>
        <div *ngIf="sideMenuHeadingsShown['blogs'];then opened else closed"></div>
        <ng-template #opened>
            <span class="icon-minus"></span>
        </ng-template>
        <ng-template #closed>
            <span class="icon-plus"></span>
        </ng-template>

    </div>
    <div *ngIf="sideMenuHeadingsShown['blogs']">
        <ng-container *ngFor="let tag of tags;">
            <div class="sidebar-header-tag" (click)="toggleSideMenuBlogTag(tagHeading)">
                <span #tagHeading>{{tag}} </span>
                <span class="{{sideMenuHeadingsShown.blogTagsShown[tag] ? 'icon-minus' : 'icon-plus'}}"></span>
            </div>

            <div class="{{sideMenuHeadingsShown.blogTagsShown[tag] ? '': 'sidebar-sub-headers-hidden'}}">
                <ng-container *ngFor="let blogLink of getBlogsByTag(tag);">
                    <div class="sidebar-sub-header" routerLink="/blog/{{blogLink.id}}" routerLinkActive="active-link">
                        {{blogLink.displayname}}
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>
