
:root {
    --alert-success-color: 21, 87, 36;
    --alert-success-background-color: 212, 237, 218;
    --alert-success-border-color: 195, 230, 203;
    --alert-info-color: 12, 84, 96;
    --alert-info-background-color: 209, 236, 241;
    --alert-info-border-color: 190, 229, 235;
    --alert-warning-color: 133, 100, 4;
    --alert-warning-background-color: 255, 243, 205;
    --alert-warning-border-color: 195, 230, 203;
    --alert-danger-color: 114, 28, 36;
    --alert-danger-background-color: 248, 215, 218;
    --alert-danger-border-color: 245, 198, 203;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

