.example-neutral {
    border-left: 5px solid #3d7e9a;
    border-radius: 0px;
    background-color: #eee !important;
    overflow: auto;
}

.example-good {
    border-left: 5px solid #4d9f0c;
    border-radius: 0px;
    background-color: #f6faf3 !important;
    overflow: auto;
}

.example-bad {
    border-left: 5px solid #e66465;
    border-radius: 0px;
    background-color: #fef7f7 !important;
    overflow: auto;
}


/* pre {
    counter-reset: line;
}

pre[class*="language-"] {
    counter-reset: line-number;
}

.line-container::before {
    counter-increment: line-number;
    content: counter(line-number);
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    margin-right: .5em;
    color: #888
} */