<h1> Angular and GitHub Pages </h1>

<h2> Overview </h2>
<p>
    Want to host your Angular website? Thanks to GitHub it's super easy. By the end of this guide you will know how to how to host your own Angular website, for free!
</p>

<h4>Sections</h4>
<ol>
    <li>Pre requisites</li>
    <li>Building the Angular Project</li>
    <li>Setting up GitHub Pages</li>
    <li>Knowing your website address</li>
    <li>I want a website at my root</li>
    <li>Conclusion</li>
</ol>

<hr>

<h2> Pre requisites</h2>
<p>
    An Angular website, that is being stored in a GitHub repository.
</p>

<hr>

<h2> Building the Angular Project</h2>
<p>
    We need to create a <i>docs</i> folder that contains:
</p>
<ul>
    <li>index.html</li>
    <li>404.html</li>
</ul>
<p>
    Run this command in the root of your angular project
</p>

<pre ngNonBindable class="example-neutral">
<code class="language-powershell">
    ng build --prod --output-path docs --base-href "/{{repoName}}/"
</code></pre>


<h4> Example</h4>

<p>My gitHub repo is named <i>myBlog</i>:</p>


<div ngNonBindable class="black-block">
    https://github.com/{{username}}/myBlog
</div>


<p>The angular command would be:</p>

<pre ngNonBindable class="example-neutral">
<code class="language-powershell">
    ng build --prod --output-path docs --base-href "/myBlog/"
</code></pre>

<p>
    After running this command you should have a docs folder at the root of your Angular project. The index.html should have a base tag inside the head tag with an href as shown.
</p>


<pre ngNonBindable data-line="2" class="example-neutral"><code class="language-html">
&lt;head&gt;
    &lt;base href=&quot;/myBlog/&quot;&gt;
&lt;/head&gt;
</code></pre>

<p>
    Now you need to copy the index.html and name it 404.html. This allows Angular routing to work when the site is live. All unknown routes to your site will go to your 404 page when they are sent, and the Angular router will serve a page based on the url.
</p>

<p>
    Your docs folder should look like roughly like this:
</p>

<img class="blog-image" src="/assets/blogs/images/angularAndGitHubPages/docs-folder.jpg" title="GitHub Pages Settings">

<p>
    N.B. You will see 404 errors in the developers console when navigating directly to an unknown route. This is expected behavior.
</p>

<p>
    To check the website works you can serve the <i>docs</i> folder locally. I use <i>web server for chrome</i>, which automatically chooses the index.html as the start file.
</p>

<hr>

<h2> Setting up GitHub Pages </h2>
<p>
    To use GitHub pages with your Angular repo we need to enable it. Go to your repo, and then the settings tab.
</p>

<img class="blog-image" src="/assets/blogs/images/angularAndGitHubPages/github-repo.jpg" title="A GitHub Repo">

<p>
    In the settings tab, scroll down to the section, <i>GitHub Pages</i>
</p>

<img class="blog-image" src="/assets/blogs/images/angularAndGitHubPages/github-pages-settings.jpg" title="GitHub Pages Settings">

<p>
    In the source section we need to choose the folder that we published our site to locally, the <i>/docs</i> folder. Click save and GitHub actions will try to publish your website from this folder.
</p>

<p>
    N.B. If you don't have a <i>docs</i> folder yet, or the index.html file is missing, the website will not deploy.
</p>

<p>
    Your website should now be deployed, and a link shown to you. I would recommend enforcing https, to ensure you get given a padlock by Chrome, otherwise it will be shown as insecure.
</p>

<img class="blog-image" src="/assets/blogs/images/angularAndGitHubPages/github-pages-settings-published.jpg" title="GitHub Pages Settings Published">

<hr>

<h2> Knowing your website address</h2>

The repo name you choose in GitHub will determine your websites name. So if you had a repo named <i>myBlog</i>, and you username was <i>bealesd</i>, your repo url would like this

<div class="black-block"> https://github.com/bealesd/myBlog</div>

<p>
    Your deployed website url is then generated automatically from this. It would be
</p>

<div class="black-block">https://bealesd.github.io/myBlog</div>


<h4> Naming conventions</h4>

<p>
    This summarizes how your repo url is linked to your website url.
</p>

<div ngNonBindable class="black-block">
    https://github.com/{{username}}/{{repoName}}
    <br> https://{{username}}.github.io/{{repoName}}/
</div>

<hr>

<h2> I want a website at my root</h2>

What if you want your website to not have a default relative path.

<div ngNonBindable class="black-block">
    https://{{username}}.github.io/
    <br> i.e.
    <br> https://bealesd.github.io/
</div>


<p>
    Well this is quite easy.
</p>

<p>
    Create a repo in gitHub
</p>


<div ngNonBindable class="black-block">
    {{username}}.github.io
    <br> i.e.
    <br> beales.github.io
</div>

<p>
    Then when you build your project use the following command
</p>

<pre ngNonBindable class="example-neutral">
<code class="language-powershell">
    ng build --prod --output-path docs --base-href "/"
</code></pre>

<p>
    Test and push your code up and you're done!!
</p>

<hr>

<h2>Conclusion</h2>
<p>
    Using GitHub Pages is surprisingly easy. Just build your code locally with a few flags to quicken the process and enable pages on your repo.
</p>

<p>
    You may find things don't always work, but there usually there are easy to fixes. Here are some common issues for me:
</p>


<ul>
    <li> routing isn't working </li>
    <ul>
        <li> check for 404.html</li>
        <li> did the href update as expected, you might have missed the base-href flag</li>
        <li> you are using dns. This can take extra work, getting the base-href correct</li>
    </ul>
    <br>
    <li> website won't load</li>
    <ul>
        <li> there is no <i>docs</i> folder, you probably got a <i>dist</i> folder, just rename it to docs. The <i>dist</i> folder is the default build folder</li>
        <li> you using a dns. Check for CNAME in <i>dist</i>, add GitHub A records to dns.</li>
    </ul>
    <br>
    <li> don't forget to test your routes! The url may update as you navigate around the site, but what if you copy one of those links to a new window, will it work?</li>
</ul>