.modal {
    --width: 300px;
    --height: 120px;

    z-index: 9999;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 40px 40px;
    
    width: var(--width);
    height: var(--height);

    z-index: 9999;
    top: 50%;
    width: var(--width);
    left: 50%;
    margin-top: calc(-0.5 * var(--height));
    margin-left: calc(-0.5 * var(--width));

    background-color: white;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;

    font-size: 20px;
    font-family: 'ps-regular';
}

#modal-message {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: left;

    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5px;
}

#modal-value {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.modal>button {
    height: 30px;
    width: 70px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}

.modal>button.btn-normal {
    background-color: var(--typescript-bg-color);
    border: 1px solid blue;
    grid-row: 3;
    grid-column: 3;
}

.modal>button.btn-normal:hover {
    background-color: blue;
    border: 1px solid var(--typescript-bg-color)
}

.modal>button.btn-normal:focus,
.modal>button.btn-normal:active {
    outline: 0;
    border: none;
}