<div class="container">

    <ng-container *ngFor="let blog of blogs; let i = index">

        <div class="blog-container">
            <div class="blog-timestamp">
                <div>
                    <div class="item">{{blog.timestamp}}</div>
                </div>
            </div>
            <div class="blog-link">
                <div>
                    <div class="item" routerLink="/blog/{{blog.id}}" routerLinkActive="active-link">
                        {{blog.displayname}}
                    </div>
                </div>
            </div>

            <div class="blog-image">
                <img class="blog-image" src='{{blog.thumbnail}}' title="GitHub Pages Settings">
            </div>

            <div class="blog-tag">
                <div>
                    <div class="tag" (click)="filterBlogsByTag(blog.tag)">
                        {{blog.tag}}
                    </div>

                    <ng-container *ngFor="let subtag of blog.subtags">
                        <div class="sub-tag" (click)="filterBlogsByTag(subtag)">
                            {{subtag}}
                        </div>
                    </ng-container>


                </div>
            </div>

        </div>

    </ng-container>

</div>