<div class="container">

    <ng-container *ngFor="let blog of blogs; let i = index">

        <div class="blog-container">

            <div class="blog-thumbnail">
                <img src="{{blog.thumbnail}}">
            </div>

            <div class="blog-tag">
                <div>
                    <div class="tag {{blog.tag.toLowerCase()}}" (click)="filterBlogsByTag(blog.tag)">
                        {{blog.tag.toUpperCase()}}
                    </div>
                    <ng-container *ngFor="let subtag of blog.subtags">
                        <div class="sub-tag" (click)="filterBlogsByTag(subtag)">
                            {{subtag.toUpperCase()}}
                        </div>
                    </ng-container>
                </div>
            </div>
      
            <div class="blog-link">
                <div>
                    <div class="item" routerLink="/blog/{{blog.id}}" routerLinkActive="active-link">
                        {{blog.displayname}}
                    </div>
                </div>
            </div>


            <div class="blog-summary">
                <div>{{blog.summary}}</div>
            </div>

            <div class="blog-who-card">
                    <img src="/assets/blogs/images/david-beales.jpg">
                    <div class="blog-author">{{blog.author}}</div>
                    <div class="blog-timestamp">{{blog.timestamp}}</div>
            </div>

        </div>

    </ng-container>

</div>
