:host {
    --blog-container-width: 300px;
    --blog-main-content-margin-left: 40px;

    --javascript-bg-color: rgb(205,91,159);
    --typescript-bg-color: rgb(94,118,191);
    --azure-bg-color: rgb(71,188,212);

    --sub-tag-bg-color: rgb(199, 136, 85);
}

@media screen and (max-width: 800px) and (min-width: 600px) {
     :host {
        --blog-main-content-margin-left: 20px;

    }
}

@media screen and (max-width: 600px) {
     :host {
        --blog-main-content-margin-left: 10px;

    }
}

.blog-container {
    margin: 20px auto 20px auto;
    display: grid;
    grid-template-rows: 150px 40px 50px 50px 50px;
    grid-template-columns: var(--blog-container-width);
    width: var(--blog-container-width);
    padding-bottom: 20px;
    background-color: white;
    border-radius: 20px;
}

.blog-thumbnail {
    grid-row: 1;
    grid-column: 1;
    width: fit-content;
}

.blog-thumbnail img {
    width: 100%;
    max-height: 100%;
 }

.blog-summary {
    font-size: 12px;
}

.blog-summary, .blog-link, .blog-tag, .blog-who-card{
    margin-left: 20px;
    margin-right: 20px;
}

.blog-link {
    grid-row: 3;
    grid-column: 1;
    width: fit-content;
}

.blog-summary{
    grid-row: 4;
    grid-column: 1;
}

.blog-tag {
    grid-row: 2;
    grid-column: 1;
}

.blog-who-card{
    grid-row: 5;
    grid-column: 1;

    display: grid;
    grid-template-columns: 50px 200px;
    grid-template-rows: 25px 25px;
    column-gap: 20px;
}

.blog-timestamp {
    grid-row: 2;
    grid-column: 2;
    font-size: 10px;
}

.blog-who-card img {
    grid-row: 1/3;
    grid-column: 1;
    width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.blog-author {
    grid-row: 1;
    grid-column: 2;
}

.blog-link>div,
.blog-timestamp>div {
    height: 100%;
    display: grid;
    align-items: center;
}

.blog-container > .blog-tag {
    color: white;
}

.blog-tag .typescript{
    background-color: var(--typescript-bg-color);
}
.blog-tag .javascript{
    background-color: var(--javascript-bg-color);
}
.blog-tag .azure{
    background-color: var(--azure-bg-color);
}

.blog-tag .sub-tag{
    background-color: var(--sub-tag-bg-color);
}

.blog-timestamp .item {
    font-size: 14px;
}

.blog-link .item {
    font-size: 20px;
    /* border-radius: 5px;
    padding: 3px 10px; */
    /* background-color: #2fcf11;
    color:white; */
    transition: 0.2s ease-in-out;
}

.blog-container .blog-link .item:hover {
    background-color: #258f13;
    color: white;
    cursor: pointer;
}

.blog-tag>div {
    margin-top: 10px;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    width: calc(100% - 10px);
    align-items: center;
}

.blog-tag .tag,
.blog-tag .sub-tag {
    width: fit-content;
}

.blog-tag .tag {
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.blog-tag .sub-tag {
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 10px;
    margin-left: 5px;
    transition: 0.2s ease-in-out;
}

/* .blog-container:nth-of-type(odd) .blog-tag .tag:hover,
.blog-container:nth-of-type(odd) .blog-tag .sub-tag:hover {
    background-color: rgb(var(--alert-danger-background-color));
    color: rgb(var(--alert-danger-color));
    cursor: pointer;
}

.blog-container:nth-of-type(even) .blog-tag .tag:hover,
.blog-container:nth-of-type(even) .blog-tag .sub-tag:hover {
    background-color: rgb(var(--alert-success-background-color));
    color: rgb(var(--alert-success-color));
    cursor: pointer;
} */

.blog-container .blog-tag .tag:hover,
.blog-container .blog-tag .sub-tag:hover {
    background-color: white;
    color: black;
    cursor: pointer;
} 