<div class="menu-bar-container">
    <div class="hamburger {{sidebarOpen === true ? 'change' : ''}}" (click)="toggleSidebar()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <div class="search">
        <input id="searchInput" type="text" placeholder="Search" maxlength="40" value=''>
    </div>

    <div class='sort-name'>Name
        <!-- <span class='down' hidden>&#8642;</span> -->
    </div>
    <div class='sort-tag'>Tag
        <!-- <span class='down' hidden>&#8642;</span> -->
    </div>
    <div class='sort-timestamp'>Date</div>

    <!-- <span class='down'>&#8642;</span> -->
</div>

<div *ngIf="sidebarOpen === true" class="sidebar">
    <ng-container *ngFor="let tag of tags; let i = index">

        <div class="sidebar-header">
            <div class="sidebar-header-tag" (click)="toggleSubMenu($event)">{{tag}}</div>
            <div class="sidebar-sub-headers sidebar-sub-headers-hidden">
                <ng-container *ngFor="let blogLink of getBlogsByTag(tag); let j = index">

                    <div class="sidebar-sub-header">
                        {{blogLink.displayname}}
                    </div>

                </ng-container>
            </div>
        </div>

    </ng-container>

</div>