<div class="menu-bar-container">
    <div class="hamburger {{sidebarOpen === true ? 'change' : ''}}" (click)="toggleSidebar()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <div class="search">
        <input id="searchInput" type="text" placeholder="Search" maxlength="40" value='' #searchInput
            (keyup)="filterBlogsBySearch(searchInput.value)">
    </div>

    <div class='sort-name' (click)="toggleNameSort()">Name
        <span *ngIf="blogService.sort.name && this.blogService.sort.current === 'name'" class="icon-sort-alpha-asc"></span>
        <span *ngIf="!blogService.sort.name && this.blogService.sort.current === 'name'" class="icon-sort-alpha-desc"></span>
    </div>

    <div class='sort-tag' (click)="toggleTagSort()">Tag
        <span *ngIf="blogService.sort.tag && this.blogService.sort.current === 'tag'" class="icon-sort-alpha-asc"></span>
        <span *ngIf="!blogService.sort.tag && this.blogService.sort.current === 'tag'" class="icon-sort-alpha-desc"></span>
    </div>

    <div class='sort-timestamp' (click)="toggleTimestampSort()">Date
        <span *ngIf="blogService.sort.timestamp && this.blogService.sort.current === 'timestamp'" class="icon-sort-alpha-asc"></span>
        <span *ngIf="!blogService.sort.timestamp && this.blogService.sort.current === 'timestamp'" class="icon-sort-alpha-desc"></span>
    </div>

</div>

<div *ngIf="sidebarOpen === true" class="sidebar">
    <ng-container *ngFor="let tag of tags; let i = index">

        <div class="sidebar-header">
            <div class="sidebar-header-tag" (click)="toggleSubMenu($event)">
                {{tag}}
                <span class="{{tagsShown[tag] ? 'icon-arrow-down2' : 'icon-arrow-up2'}}"></span>
            </div>

            <div class="sidebar-sub-headers {{tagsShown[tag] ? '': 'sidebar-sub-headers-hidden'}}">
                <!--<span class="icon-arrow-up2"></span>-->
                <ng-container *ngFor="let blogLink of getBlogsByTag(tag); let j = index">

                    <div class="sidebar-sub-header">
                        {{blogLink.displayname}}
                    </div>

                </ng-container>
            </div>
        </div>

    </ng-container>

</div>